<button id="btn-scrape">Get new Comics</button>
<ul>
  {{#each comic}}
  <li>{{title}}</li>
  <li>Written by: {{author}}</li>
  {{#if hasArtist}}
  <li>Drawn by: {{artist}}</li>
  {{/if}}
  <img src="{{image}}" alt="{{title}}">
  <a href="{{link}}">Read Now!</a>
  {{/each}}
</ul>

<script src="js/app.js"></script>